[user]
	name = AJ Zane
	email = androiddreams@ajzane.com
[alias]
	a = add
	b = branch
	br = branch -r
	ci = commit
  cia = commit --amend
  ciaa = commit -a --amend
	cim = commit -am
	co = checkout
	cob = checkout -b
	cot = checkout -t
	coto = !sh -c 'git checkout -t origin/$1' -
	cp = cherry-pick
	d = diff
	dname = diff --name-only
	st = status -sb
	fall = fetch --all
	ftags = fetch --tags
	gtfo = reset --hard HEAD
	k = !gitk
	l = log
	lg = log --graph
	lname = log --name-status
	lnomerge = log --no-merges
	lp = log -p
	lo = log --oneline --graph --all --decorate
	loo = log --oneline
	ls = log --since=1.days --shortstat
	m = merge
	mt = mergetool
	p = pull
	r = remote
	rb = rebase
	rv = remote -v
  s = show
  sh = stash
  sha = stash apply
  shl = stash list
  shp = stash pop
  sname = show --name-only
	t = tag

	com = checkout master
	cod = checkout dev
	po = pull origin
	por = pull --rebase origin
	pu = push origin
	pom = pull origin master
	porm = pull --rebase origin master
	pum = push origin master
	pod = pull origin dev
	pord = pull --rebase origin dev
	pud = push origin dev
  rom = rebase origin master
  rod = rebase origin dev
	rm = rebase master
	rd = rebase dev

	pp = pull prod
	ppr = pull --rebase prod
	pup = push prod
	ppm = pull prod master
	pprm = pull --rebase prod master
	pupm = push prod master
	ppd = pull prod dev
	pprd = pull --rebase prod dev
	pupd = push prod dev
  rpm = rebase prod master
  rpd = rebase prod dev
[core]
	editor = /usr/bin/vim
[hub]
	protocol = https
