[user]
	name = AJ Zane
	email = androiddreams@ajzane.com
[alias]
	a = add
	b = branch
	br = branch -r
        bc = branch --contains
        bv = branch -v
	ci = commit
  cia = commit --amend
  ciaa = commit -a --amend
	cim = commit -am
	co = checkout
	cob = checkout -b
	# Checkout and pull
	copo = !sh -c 'git checkout $1 && git pull origin $1' -
	cot = checkout -t
	coto = !sh -c 'git checkout -t origin/$1' -
	copo = !sh -c 'git checkout $1 && git pull' -
	cp = cherry-pick
	d = diff
	dname = diff --name-only
	dstat = diff --name-status
	st = status -sb
	fall = fetch --all
	ftags = fetch --tags
	k = !gitk
	l = log
	lg = log --graph
	lname = log --name-only
	lnomerge = log --no-merges
	lp = log -p
	lo = log --oneline --pretty=format:'%C(yellow)%h%Creset %s%d %C(bold blue)<%an> %Cgreen(%ad)' --date=short
	loo = log --oneline --graph --all --decorate
	ls = log --since=1.days --shortstat
	lstat = log --name-status
	m = merge
	mt = mergetool
	p = pull
	r = remote
        re = reset
	rb = rebase
        rehard = reset --hard
        rehead = reset HEAD~
	rv = remote -v
	# Fun resets
        # Get out of there
        gtfo = reset --hard HEAD 
        # quickjump reset like Nightcrawler
        bamf = reset --hard HEAD^ 
  s = show
  sname = show --name-only
  sstat = show --name-status
  sh = stash
  sha = stash apply
  shl = stash list
  shp = stash pop
	t = tag
	# Track a remote branch
	# Usage: git track remotename branchname
	track = !sh -c 'git branch -u  $1/$2' -

	com = checkout master
	cod = checkout dev
	po = pull origin
	pro = pull --rebase origin
	pu = push origin
	pom = pull origin master
	prom = pull --rebase origin master
	pum = push origin master
	pod = pull origin dev
	prod = pull --rebase origin dev
	pud = push origin dev
  rom = rebase origin master
  rod = rebase origin dev
	rm = rebase master
	rd = rebase dev

	pp = pull prod
	ppr = pull --rebase prod
	pup = push prod
	ppm = pull prod master
	pprm = pull --rebase prod master
	pupm = push prod master
	ppd = pull prod dev
	pprd = pull --rebase prod dev
	pupd = push prod dev
  rpm = rebase prod master
  rpd = rebase prod dev
[core]
	editor = /usr/bin/vim
	whitespace = trailing-space,space-before-tab
[hub]
	protocol = https
[push]
	default = simple
[init]
	defaultBranch = main
