"*":
  "atom-typescript": {}
  "autocomplete-plus": {}
  core: {}
  editor:
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "ec207350-2326-fb8d-7539-7fbcaaeb13a8"
  linter: {}
  metrics:
    userId: "e8ed2432554e6b834141a535a1726b6e2833b3f8"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnlyLines: true
    removeTrailingWhitespace: false
